a{
	text-decoration: none;
	color:black;
	float: left;
	margin-right: 15px;

	
}
a:visited{
	font-weight: bolder;
}
a:hover{
	font-weight: bolder;
}
.list{

	display:list-item;
	list-style-position: inside;
	list-style-type: none;
}